*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    background-color: aliceblue;
    background-size: 100vw 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    overflow: scroll;
}

nav{
    width: 100%;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.4);
}

.logo{
    position: relative;
    border-radius: 100%;
    background-color: white;
    box-shadow: -3px 5px 34px 3px rgba(0,0,0,0.73);
}

nav > a{
    width: 100px;
    height: 40px;
    background-color:greenyellow;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-family: 'Shantell Sans', cursive;
}

a{
    text-decoration: none;
    color: black;
}

.subContainer{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    gap: 25px;
}

.intro{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    font-family: 'Shantell Sans', cursive;
    color:white;
    background-color: rgba(0,0,0,0.9);
    padding: 15px;
    border-radius: 10px;
    font-size: 13px;
}

.introCont{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-evenly;
}

.gusHome{
    border-radius: 13px;
    align-self: flex-start;
    margin-left: 20px;
}

.foodImage {
    border-radius: 15px;
}